<form [formGroup]="corrform"  (ngSubmit)="print()">
    <div class="form-group row">
      <label for="lon" class="col-sm-2 col-form-label">Longitude</label>
      <div class="col-sm-10">
        <input type="number" class="form-control" id="lon" formControlName="lon">
      </div>
    </div>
    <div class="form-group row">
      <label for="lat" class="col-sm-2 col-form-label">Latitude</label>
      <div class="col-sm-10">
        <input type="number" class="form-control" id="lat" formControlName="lat">
      </div>
    </div>
  


    <div class="form-group row">
      <div class="col-sm-10">
        <button type="submit" class="btn btn-primary">Sign in</button>
      </div>
    </div>
  </form>

  <div *ngFor="let tweet of tweets">

    <b>{{tweet._source.created_at}}</b> <br>
    <b>{{tweet._source.text}}</b> <br>
    <b>{{tweet._source.coordinates}}</b> <br>
  </div>